services:
    -
        class: PrikotovCodingStandard\PhpStan\DtoReferenceCollector
        tags: [phpstan.collector]
    -
        class: PrikotovCodingStandard\PhpStan\DtoLocationCollector
        tags: [phpstan.collector]
    -
        class: PrikotovCodingStandard\PhpStan\MessageContractDtoCollector
        tags: [phpstan.collector]
    -
        class: PrikotovCodingStandard\PhpStan\DtoReuseRule
        tags: [phpstan.rules.rule]
    -
        class: PrikotovCodingStandard\PhpStan\MessageContractDtoLocationRule
        tags: [phpstan.rules.rule]
